<body>
    <div class="profile-header">

    <div class="profile-nav-info">
        <h3 class="user-name">{{username}}</h3>
        <div class="address">
            <p id="state" class="state">New York,</p>
            <span id="country" class="country">USA.</span>
        </div>
              
    </div>
    <div class="profile-option">
        <div class="notification">
            <i class="fa fa-bell"></i>
            <span class="alert-message">3</span>
        </div>
    </div>

    </div>
              
              <div class="main-bd">
                  <div class="left-side">
                    <div class="profile-side">
                      <p class="user-mail"><i class="fa fa-envelope"></i>{{email}}</p>
                      <div class="user-bio">
                        <h3>Bio</h3>
                        <p class="bio">
                          Lorem ipsum dolor sit amet, hello how consectetur adipisicing elit. Sint consectetur provident magni yohoho consequuntur, voluptatibus ghdfff exercitationem at quis similique. Optio, amet!
                        </p>
                      </div>
                      <div class="profile-btn">
                        <button class="chatbtn" id="chatBtn"><i class="fa fa-comment" ></i>Deal History</button>
                        <button class="createbtn" id="Create-post"><i class="fa fa-plus" href="/user/update"></i> Update User Info</button>
                      </div>
                      <div class="user-rating">
                        <h3 class="rating">{{overallRating}}</h3>
                        <div class="rate">
                          <div class="star-outer">
                            <div class="star-inner">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </div>
                          </div>
                          <span class="no-of-user-rate"><span>123</span>&nbsp;&nbsp;reviews</span>
                        </div>
              
                      </div>
                    </div>
              
                  </div>
                  <div class="right-side">
              
                    <div class="nav">
                      <ul>
                        
                        <li onclick="tabs(1)" class="user-review">Reviews</li>
                        
                      </ul>
                    </div>
                    <div class="profile-body">
                        <ul>
                            {{#each reviews}}
                                <li> {{this}}</li>
                            {{/each}}
                    
                        </ul>
                        </div>
                    </div>
                  </div>
                </div>
</body>>


{{!-- 

<h1>{{title}}</h1>

<main>
    <p>Username</p>
    <p>{{username}}</p>
    <br>
    <p>E-mail</p>
    <p>{{email}}</p>
    <br>

    <a href="/user/update">Update User Info</a>

    <br>
    <p>OverallRating</p>
    <p>{{overallRating}}</p>
    <br>
    <p>Reviews</p>
    <ul>
        {{#each reviews}}
            <li> {{this}}</li>
        {{/each}}

    </ul>

</main> --}}