

<h1>{{title}}</h1>

<main>
    <p>Username</p>
    <p>{{username}}</p>
    <br>
    <p>E-mail</p>
    <p>{{email}}</p>
    <br>

    <a href="/user/update">Update User Info</a>

    <br>
    <p>OverallRating</p>
    <p>{{overallRating}}</p>
    <br>
    <p>Reviews</p>
    <ul>
        {{#each reviews}}

            <li>
                <p>Title: {{this.title}}</p>
                <p>Description: {{this.body}}</p>
                <p>Rating: {{this.rating}}</p>
                <p>Write from: {{this.reviewWriter}}</p>
                <footer>DateTime: {{this.datetime}}</footer>
            </li>

        {{/each}}

    </ul>

</main>